<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .robot-bullet { list-style-type: none; }
        .robot-bullet:before { content: '\f6B1'; font-family: "bootstrap-icons"; padding-right: 10px; }

        .person-bullet { list-style-type: none; }
        .person-bullet:before { content: '\f379'; font-family:  "bootstrap-icons"; padding-right: 10px; }
    </style>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='utils.js')}}"> </script>
    <script>
        function sendMessage() {
            var input = document.getElementById('btn-input');
            var message = input.value;
            if (message.trim() !== '') {
                var chat = document.querySelector('.chat');
                var li = document.createElement('li');
                li.textContent = message;
                li.classList.add('person-bullet');
                chat.appendChild(li);
                input.value = '';


                payload = {
                    'question' : message,
                    'policy_url' : '{{ policy_url }}'
                }
                var resp = document.createElement('li');
                resp.textContent = "...thinking...";
                resp.classList.add('robot-bullet');
                chat.appendChild(resp);

                makePostRequest('/answer', payload)
                    .then(responseJSON => 
                    {
                        responseConf = responseJSON['Confidence'];
                        var c = getConfidenceColor(responseConf);
                        resp.style.color = c;
                        resp.textContent = responseJSON['Answer'];
                    });
            }
        }

        function sendAnswer() {
            var input = document.getElementById('btn-input-ans');
            var message = input.value;
            if (message.trim() !== '') {

                var question = document.getElementById('dq').textContent;
                
                payload = {
                    'question' : question,
                    'answer' : message,
                    'policy_url' : "{{ policy_url }}"

                }
                var resp = document.getElementById('checkedAnswer');
                resp.textContent = "...thinking...";

                makePostRequest('/dialogic/check', payload)
                    .then(responseJSON => 
                    {
                        if (responseJSON['Relevant'] ) {
                            resp.textContent = "We could not determine if this was a relevant answer to the question.";

                        } else {
                            resp.textContent = responseJSON["Correct"]  ? "We believe this is correct. " : "This answer may not be correct. " ;
                        }

                        responseConf = responseJSON['Confidence'];
                        var c = getConfidenceColor(responseConf);
                        resp.style.color = c;
                        resp.textContent += responseJSON['Explanation'];
                    });
            }
        }

        function populateQuestion(){

            var dq = document.getElementById('dq');
            dq.textContent = "Generating question";

            getQuestion(policy_url ="{{ policy_url }}" )
            .then(responseJSON => 
            {
                var q = responseJSON['Question'];
                dq.textContent = q;
            });
        }


    </script>

</head>
<body>
    <div class="main">

        <div class="container">
            <h2>Policy Explorer</h2>
        </div>
        <div class="container" style="position: fixed; left: 0; z-index: 999;">
            <div class = "container" id="assistantdiv">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
                    Ask a Question
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <span class="glyphicon glyphicon-comment"></span> Chat
                                        </div>
                                        <div class="panel-body">
                                            <ul class="chat">
                                                <!-- Messages will go here -->
                                            </ul>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="input-group">
                                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendMessage()">
                                                        Send
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class = "container" id="tutordiv">
                <button  onclick="populateQuestion()"   class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" >
                    Socrates HALP
                </button>

                <div class="collapse" id="collapseExample2">
                    <div class="container">
                        <div class="card card-body">
                            <p id="dq"> Generating question </p>
                            <input id="btn-input-ans" type="text" class="form-control input-sm" placeholder="Type your answer here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-ans" onclick="sendAnswer()">
                                    Submit
                                </button>
                            </span>
                            <p id="checkedAnswer"> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container-fluid" id="policy_pane">
            {{ policy_html | safe }}
        </div>
    </div>




    
</body>
</html>