<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>H.A.L.P.</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        <!-- Bootstrap JS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1> Human Answers (to) Learn (about) Privacy </h1>
            <div class="container">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseStudents" aria-expanded="false" aria-controls="collapseStudents">
                    Students
                </button>
                <div class="collapse" id="collapseStudents">
                    <h3> Did you give informed consent when using Gradescope?</h3>
                </div>


                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseInstr" aria-expanded="false" aria-controls="collapseStudents">
                    Instructors
                </button>
                <div class="collapse" id="collapseInstr">
                    <h3>  Did you give informed consent when using Gradescope?</h3>
                </div>



                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    So What Gives?
                </button>
                <div class="collapse" id="collapseExample">
                    
                    <h3> Best we can do is <b>informed</b> <s>consent</s>. </h3>

                

                    <h2> Demo </h2>
                    <div class="container">
                        <h4>Enter a Privacy Policy URL</h4>
                        <form method="POST">
                            <label for="policy_url">Policy URL:</label>
                            <input type="text" id="policy_url" name="policy_url">
                            <input type="submit" value="Submit">
                        </form>
                    </div>


                    <div class ="container">
                        <h3>HALP me figure out:</h3>
                        <ul>
                            <li>Instructor: Would you use this in your course? </li>
                            <li>Student: Would you want your instructor to use this? </li>
                            <li>Is there an appetite for connectors to static analysis / information flow analysis? (RuleKeeper, K9DB, PINQ?)</li>
                            <li>How do we evaluate if HALP actually halps?</li>
                        </ul>


                        <h4> https://github.com/sidprasad/halp </h4>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>

